<h2>Sobre mí</h2>
<p>Soy estudiante de la lic. en ciencia de datos del ITAM. A lo largo de mi formación he desarrollado diversos proyectos reelevantes a distintas áreas de la ciencia de datos. ¡Bienvenido a mi perfil!</p>

<h2>Habilidades</h2>
<ul>
  <li>Python, SQL, Excel</li>
  <li>Docker</li>
  <li>Modelos de machine learning</li>
  <li>Atención al detalle</li>
  <li>Liderazgo y trabajo en equipo</li>
</ul>

<p>Algunos de mis proyectos:</p>

<h2>Proyectos</h2>
<ul>
  <li><a href="http://excentris.net">Proyecto 1</a></li>
  <li><a href="http://excentris.net">Proyecto 2</a></li>
  <li><a href="http://excentris.net">Proyecto 3</a></li>
  <li><a href="http://excentris.net">Proyecto 4</a></li>
  <li><a href="http://excentris.net">Proyecto 5</a></li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
